---
- name: Setup Docker containers and network
  hosts: all
  become: yes
  
  vars:
    domain_name: "{{ domain_name }}"
    github_actor: "{{ github_actor }}"
    github_repository_owner: "{{ github_repository_owner }}"
    github_token: "{{ github_token }}"
    postgres_user: "{{ postgres_user }}"
    postgres_password: "{{ postgres_password }}"
    postgres_db: "{{ postgres_db }}"

  tasks:
    - name: ensure Docker service is started
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: create Docker network
      docker_network:
        name: intranet
        driver: bridge
        ipam_config:
          - subnet: 172.20.0.0/16
            gateway: 172.20.0.1

    - name: create traefik config directory
      file:
        path: /app/traefik
        state: directory
        mode: '0755'

    - name: create letsencrypt directory
      file:
        path: /app/letsencrypt
        state: directory
        mode: '0755'

    - name: create acme.json file with proper permissions
      file:
        path: /app/letsencrypt/acme.json
        state: touch
        mode: '0600'

    - name: run traefik container
      docker_container:
        name: traefik
        image: traefik:v3.6.5
        state: started
        restart_policy: unless-stopped
        networks:
          - name: intranet
        ports:
          - '80:80'
          - '443:443'
        volumes:
          - '/var/run/docker.sock:/var/run/docker.sock'
          - '/app/traefik:/traefik'
          - '/app/letsencrypt:/letsencrypt'
        command:
          - '--api.insecure=false'
          - '--providers.docker=true'
          - '--providers.docker.exposedbydefault=false'
          - '--entrypoints.web.address=:80'
          - '--entrypoints.websecure.address=:443'
          - '--entrypoints.web.http.redirections.entryPoint.scheme=https'
          - '--entrypoints.web.http.redirections.entryPoint.to=websecure'
          - '--certificatesresolvers.terraform.acme.tlschallenge=true'
          - '--certificatesresolvers.terraform.acme.email=admin@{{ domain_name }}'
          - '--certificatesresolvers.terraform.acme.storage=/letsencrypt/acme.json'

    - name: run nginx hello world container
      docker_container:
        name: nginx
        image: nginxdemos/hello
        state: started
        restart_policy: unless-stopped
        networks:
          - name: intranet
        labels:
          traefik.enable: 'true'
          traefik.http.routers.nginx.rule: 'Host(`{{ domain_name }}`) || Host(`www.{{ domain_name }}`)'
          traefik.http.routers.nginx.entrypoints: 'websecure'
          traefik.http.routers.nginx.tls.certresolver: 'terraform'
          traefik.http.services.nginx.loadbalancer.server.port: '80'

    - name: login to GitHub container registry
      community.docker.docker_login:
        registry_url: ghcr.io
        username: "{{ github_actor }}"
        password: "{{ github_token }}"
      when: github_token is defined

    - name: run randomwebsite container
      docker_container:
        name: randomwebsite
        image: ghcr.io/{{ github_repository_owner }}/randomwebsite:latest
        state: started
        restart_policy: unless-stopped
        pull: always
        networks:
          - name: intranet
        labels:
          traefik.enable: 'true'
          traefik.http.routers.randomwebsite.entrypoints: 'websecure'
          traefik.http.routers.randomwebsite.rule: 'Host(`{{ domain_name }}`) && PathPrefix(`/website`)'
          traefik.http.routers.randomwebsite.tls.certresolver: 'terraform'
          traefik.http.middlewares.randomwebsite-stripprefix.stripprefix.prefixes: '/website'
          traefik.http.services.randomwebsite.loadbalancer.server.port: '80'

    - name: run kratos db container
      docker_container:
        name: kratos-db
        image: postgres:15
        state: started
        restart_policy: unless-stopped
        environment:
          POSTGRES_USER: "{{ postgres_user }}"
          POSTGRES_PASSWORD: "{{ postgres_password }}"
          POSTGRES_DB: "{{ postgres_db }}"
        volumes:
          - /app/kratos-db:/var/lib/postgresql/data

    - name: run kratos migrate
      docker_container:
        name: kratos-migrate
        image: oryd/kratos:1.3.1
        state: started
        restart_policy: unless-stopped
        environment:
          DSN: postgres://{{ postgres_user }}:{{ postgres_password }}@kratos-db:5432/{{ postgres_db }}?sslmode=disable&max_conns=20&max_idle_conns=4
        command:
          - -c /etc/config/kratos/kratos.yml migrate sql -e --yes
        volumes:
          - /app/config/kratos:/etc/config/kratos
        depends_on:
          - kratos-db

    - name: run kratos container
      docker_container:
        name: kratos
        image: oryd/kratos:1.3.1
        state: started
        restart_policy: unless-stopped
        environment:
          DSN: postgres://{{ postgres_user }}:{{ postgres_password }}@kratos-db:5432/{{ postgres_db }}?sslmode=disable&max_conns=20&max_idle_conns=4
        volumes:
          - /app/config/kratos:/etc/config/kratos
        depends_on:
          - kratos-migrate
        labels:
          traefik.enable: 'true'
          traefik.http.routers.kratos.entrypoints: 'websecure'
          traefik.http.routers.kratos.rule: 'Host(`{{ domain_name }}`) && PathPrefix(`/auth`)'
