---
- name: Setup Docker containers and network
  hosts: localhost
  connection: local
  become: yes
  
  tasks:
    - name: ensure Docker service is started
      systemd:
        name: docker
        state: started
        enabled: yes
