---
- name: Setup Docker containers and network
  hosts: all
  become: yes
  
  vars:
    domain_name: "{{ domain_name }}"

  tasks:
    - name: ensure Docker service is started
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: create Docker network
      docker_network:
        name: intranet
        driver: bridge
        ipam_config:
          - subnet: 172.20.0.0/16
            gateway: 172.20.0.1

    - name: create traefik config directory
      file:
        path: /app/traefik
        state: directory
        mode: '0755'

    - name: create letsencrypt directory
      file:
        path: /app/letsencrypt
        state: directory
        mode: '0755'

    - name: create acme.json file with proper permissions
      file:
        path: /app/letsencrypt/acme.json
        state: touch
        mode: '0600'

    - name: run traefik container
      docker_container:
        name: traefik
        image: traefik:v3.6.5
        state: started
        restart_policy: unless-stopped
        networks:
          - name: intranet
        ports:
          - '80:80'
          - '443:443'
        volumes:
          - '/var/run/docker.sock:/var/run/docker.sock'
          - '/app/traefik:/traefik'
          - '/app/letsencrypt:/letsencrypt'
        command:
          - '--api.insecure=false'
          - '--providers.docker=true'
          - '--providers.docker.exposedbydefault=false'
          - '--entrypoints.web.address=:80'
          - '--entrypoints.websecure.address=:443'
          - '--entrypoints.web.http.redirections.entryPoint.scheme=https'
          - '--entrypoints.web.http.redirections.entryPoint.to=websecure'
          - '--certificatesresolvers.terraform.acme.tlschallenge=true'
          - '--certificatesresolvers.terraform.acme.email=admin@{{ domain_name }}'
          - '--certificatesresolvers.terraform.acme.storage=/letsencrypt/acme.json'

    - name: run nginx hello world container
      docker_container:
        name: nginx
        image: nginxdemos/hello
        state: started
        restart_policy: unless-stopped
        networks:
          - name: intranet
        labels:
          traefik.enable: 'true'
          traefik.http.routers.nginx.rule: 'Host(`{{ domain_name }}`) || Host(`www.{{ domain_name }}`)'
          traefik.http.routers.nginx.entrypoints: 'websecure'
          traefik.http.routers.nginx.tls.certresolver: 'terraform'
          traefik.http.services.nginx.loadbalancer.server.port: '80'

    - name: run randomwebsite container
      docker_container:
        name: randomwebsite
        image: ghcr.io/somenoodleshop/randomwebsite:latest
        state: started
        restart_policy: unless-stopped
        networks:
          - name: intranet
