---
- name: Setup Docker containers and network
  hosts: localhost
  connection: local
  become: yes
  
  tasks:
    - name: ensure Docker service is started
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: create Docker network
      docker_network:
        name: intranet
        driver: bridge
        ipam_config:
          - subnet: 172.20.0.0/16
            gateway: 172.20.0.1
