---
- name: Setup Docker containers and network
  hosts: all
  become: yes
  vars:
    domain_name: "{{ domain_name }}"
    github_actor: "{{ github_actor }}"
    github_repository_owner: "{{ github_repository_owner }}"
    github_token: "{{ github_token }}"
    postgres_user: "{{ postgres_user }}"
    postgres_password: "{{ postgres_password }}"
    postgres_db: "{{ postgres_db }}"

  tasks:
    - name: ensure Docker service is started
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: create Docker network
      docker_network:
        name: intranet
        driver: bridge
        ipam_config:
          - subnet: 172.20.0.0/16
            gateway: 172.20.0.1

    - name: import traefik tasks
      import_tasks: traefik.yml

    - name: run nginx hello world container
      docker_container:
        name: nginx
        image: nginxdemos/hello
        state: started
        restart_policy: unless-stopped
        networks:
          - name: intranet
        labels:
          traefik.enable: 'true'
          traefik.http.routers.nginx.rule: 'Host(`{{ domain_name }}`) || Host(`www.{{ domain_name }}`)'
          traefik.http.routers.nginx.entrypoints: 'websecure'
          traefik.http.routers.nginx.tls.certresolver: 'terraform'
          traefik.http.services.nginx.loadbalancer.server.port: '80'

    - name: login to GitHub container registry
      community.docker.docker_login:
        registry_url: ghcr.io
        username: "{{ github_actor }}"
        password: "{{ github_token }}"
      when: github_token is defined

    - name: run randomwebsite container
      docker_container:
        name: randomwebsite
        image: ghcr.io/{{ github_repository_owner }}/randomwebsite:latest
        state: started
        restart_policy: unless-stopped
        pull: always
        networks:
          - name: intranet
        labels:
          traefik.enable: 'true'
          traefik.http.routers.randomwebsite.entrypoints: 'websecure'
          traefik.http.routers.randomwebsite.rule: 'Host(`{{ domain_name }}`) && PathPrefix(`/website`)'
          traefik.http.routers.randomwebsite.tls.certresolver: 'terraform'
          traefik.http.middlewares.randomwebsite-stripprefix.stripprefix.prefixes: '/website'
          traefik.http.services.randomwebsite.loadbalancer.server.port: '80'

    - name: import ory tasks
      import_tasks: ory.yml
