---
- name: run textlet-fe container
  docker_container:
    name: textlet-fe
    image: ghcr.io/{{ github_repository_owner }}/textlet-fe:latest
    state: started
    restart_policy: unless-stopped
    networks:
      - name: intranet
    labels:
      traefik.enable: 'true'
      traefik.http.routers.textlet-fe.entrypoints: 'websecure'
      traefik.http.routers.textlet-fe.tls.certresolver: 'terraform'
      traefik.http.services.textlet-fe.loadbalancer.server.port: '80'
