---
- name: run textlet-fe container
  docker_container:
    name: textlet-fe
    image: ghcr.io/{{ github_repository_owner }}/textlet-fe:latest
    state: started
    restart_policy: unless-stopped
    networks:
      - name: intranet
    labels:
      traefik.enable: 'true'
      traefik.http.routers.textlet-fe.entrypoints: 'websecure'
      traefik.http.routers.textlet-fe.rule: 'Host(`{{ domain_name }}`) && PathPrefix(`/textlet`)'
      traefik.http.middlewares.textlet-fe-stripprefix.stripprefix.prefixes: '/textlet'
      traefik.http.routers.textlet-fe.tls.certresolver: 'terraform'
      traefik.http.services.textlet-fe.loadbalancer.server.port: '80'

- name: run textlet-be container
  docker_container:
    name: textlet-be
    image: ghcr.io/{{ github_repository_owner }}/textlet-be:latest
    state: started
    restart_policy: unless-stopped
    networks:
      - name: intranet
    labels:
      traefik.enable: 'true'
      traefik.http.routers.textlet-be.entrypoints: 'websecure'
      traefik.http.routers.textlet-be.rule: 'Host(`api.{{ domain_name }}`) && PathPrefix(`/textlet`)'
      traefik.http.middlewares.textlet-be-stripprefix.stripprefix.prefixes: '/textlet'
      traefik.http.routers.textlet-be.tls.certresolver: 'terraform'
      traefik.http.services.textlet-be.loadbalancer.server.port: '80'
