---
- name: run textlet-fe container
  docker_container:
    name: textlet-fe
    image: ghcr.io/{{ github_repository_owner }}/textlet-fe:latest
    state: started
    restart_policy: unless-stopped
    networks:
      - name: intranet
