---
- name: run public whoami container
  docker_container:
    name: whoami/public
    image: traefik/whoami
    state: started
    restart_policy: unless-stopped
    labels:
      traefik.enable: 'true'
      traefik.http.routers.whoami.rule: 'Host(`{{ domain_name }}`) && PathPrefix(`/public`)'
      traefik.http.routers.whoami.entrypoints: 'websecure'
      traefik.http.routers.whoami.tls.certresolver: 'terraform'
      traefik.http.services.whoami.loadbalancer.server.port: '443'
