---
- name: run public whoami container
  docker_container:
    name: whoami/public
    image: traefik/whoami
    state: started
    restart_policy: unless-stopped
    labels:
      traefik.enable: 'true'
      traefik.http.routers.whoami.rule: 'Host(`{{ domain_name }}`) && PathPrefix(`/public`)'
      traefik.http.routers.whoami.entrypoints: 'websecure'
      traefik.http.routers.whoami.tls.certresolver: 'terraform'
      traefik.http.services.whoami.loadbalancer.server.port: '443'
      traefik.http.routers.whoami.middlewares: strip-public-prefix
      traefik.http.middlewares.strip-public-prefix.stripprefix.prefixes: '/public'

- name: run private whoami container
  docker_container:
    name: whoami/private
    image: traefik/whoami
    state: started
    restart_policy: unless-stopped
    labels:
      traefik.enable: 'true'
      traefik.http.routers.whoami.rule: 'Host(`{{ domain_name }}`) && PathPrefix(`/private`)'
      traefik.http.routers.whoami.entrypoints: 'websecure'
      traefik.http.routers.whoami.tls.certresolver: 'terraform'
      traefik.http.services.whoami.loadbalancer.server.port: '443'
