---
- name: run public whoami container
  docker_container:
    name: whoami-public
    image: traefik/whoami
    state: started
    restart_policy: unless-stopped
    networks:
      - name: intranet
    labels:
      traefik.enable: 'true'
      traefik.http.routers.whoami-public.rule: 'Host(`{{ domain_name }}`) && PathPrefix(`/public`)'
      traefik.http.routers.whoami-public.entrypoints: 'websecure'
      traefik.http.routers.whoami-public.tls.certresolver: 'terraform'
      traefik.http.services.whoami-public.loadbalancer.server.port: '80'
      traefik.http.routers.whoami-public.middlewares: strip-public-prefix
      traefik.http.middlewares.strip-public-prefix.stripprefix.prefixes: '/public'

- name: run private whoami container
  docker_container:
    name: whoami-private
    image: traefik/whoami
    state: started
    restart_policy: unless-stopped
    labels:
      traefik.enable: 'true'
      traefik.http.routers.whoami-private.rule: 'Host(`{{ domain_name }}`) && PathPrefix(`/private`)'
      traefik.http.routers.whoami-private.entrypoints: 'websecure'
      traefik.http.routers.whoami-private.tls.certresolver: 'terraform'
      traefik.http.services.whoami-private.loadbalancer.server.port: '80'
      traefik.http.routers.whoami-private.middlewares: strip-private-prefix
      traefik.http.middlewares.strip-private-prefix.stripprefix.prefixes: '/private'
